<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.lu.financemanager"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="18" />


    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_LOGS"/>


    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.WRITE_SMS" />
    <uses-permission android:name="android.permission.READ_SMS" >
    </uses-permission>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" >
    </uses-permission>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <!-- 读取联系人权限 -->
    <uses-permission android:name="android.permission.READ_CONTACTS"/>
    <application
        android:name="com.lu.momeymanager.app.MomeyManagerApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/ThemeActivity" >
        <activity
            android:name="com.lu.momeymanager.view.activity.MainActivity"
            android:label="@string/app_name"
            android:windowSoftInputMode="adjustPan">

        </activity>
        <activity
            android:theme="@style/ActivityTranslucent"
            android:name="com.lu.momeymanager.view.activity.SettingActivity" >
        </activity>
        <activity android:name="com.lu.momeymanager.view.activity.BalanceQueryActivity" >
        </activity>
        <activity android:name="com.lu.momeymanager.view.activity.GameActivity" >
        </activity>
        <activity android:name="com.lu.momeymanager.view.activity.gesturepassword.CreateGesturePasswordActivity" >
        </activity>
        <activity android:name="com.lu.momeymanager.view.activity.gesturepassword.GresturePasswordSetActivity" >
        </activity>
        <activity android:name="com.lu.momeymanager.view.activity.gesturepassword.GuideGesturePasswordActivity" >
        </activity>
        <activity android:name="com.lu.momeymanager.view.activity.gesturepassword.UnlockGesturePasswordActivity" >
        </activity>
        <activity android:name="com.lu.momeymanager.view.activity.tutorial.AngleTutorials" >
        </activity>
        <activity android:name="com.example.android_robot_01.MainActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.example.android_robot_01.ShowHtmlActivity" >
        </activity>
        <activity android:name="com.example.android_robot_01.DetailActivity" >
        </activity>


        <activity android:name="com.lu.momeymanager.view.activity.tutorial.Tutorial01" android:label="@string/app_name"></activity>
        <activity android:name="com.lu.momeymanager.view.activity.tutorial.Tutorial02" android:clearTaskOnLaunch="true"></activity>
        <activity android:name="com.lu.momeymanager.view.activity.tutorial.Tutorial03" android:clearTaskOnLaunch="true"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"></activity>
        <activity android:name="com.lu.momeymanager.view.activity.tutorial.Tutorial04" android:clearTaskOnLaunch="true"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"></activity>
        <activity android:name="com.lu.momeymanager.view.activity.tutorial.Tutorial05" android:clearTaskOnLaunch="true"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
            android:screenOrientation="portrait"></activity>
        <activity android:name="com.lu.momeymanager.view.activity.tutorial.Game" android:clearTaskOnLaunch="true"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
            android:screenOrientation="portrait"></activity>
        <activity android:name="com.lu.momeymanager.view.activity.game.StepByStepGame" android:theme="@android:style/Theme.NoTitleBar.Fullscreen" android:screenOrientation="portrait"></activity>


        <receiver android:name="com.lu.momeymanager.view.receiver.SmsBroadcastReceiver" >
            <intent-filter>
                <action android:name="android.provider.Telephony.SMS_RECEIVED" />
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
    </application>

</manifest>